/* Animate for an infinite loop */
@keyframes loop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.partner-logos {
    overflow: hidden;
    padding: 50px 0;
    background-color: #56d48e;
    justify-content: center;
    white-space: nowrap;
    position: relative;
}

.partner-logos:before,
.partner-logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.partner-logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.partner-logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.partner-logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-flex;
    animation: 20s loop infinite linear;
}

.logos-slide img {
    height: 120px;
    margin: 0 10px;
    max-width: 100%;
}
